/*colors*/
$primary: #6D28D9;
$danger: #DC2626;
$link: $primary;
$black: #1F2937;
$footer-background-color: #F3F4F6;

/*navbar*/
$navbar-item-hover-background-color: none;
$navbar-box-shadow-size: 0 2px 0px 0; 

/*scroll behavior*/
html {
    scroll-behavior: smooth;
}

/*card*/
